<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Usuarios</title>
</head>
<body>
    <form id="frmUsuario" class="box form-inline my-2 my-lg-0" action="/usuarioBuscado" method="post">
        <h1>Busqueda de Usuarios:</h1>
        <input class="form-control mr-sm-2" type="text" id="txtNombre" placeholder="Nombre" name="buscadorUsuario">
      </form>
</body>
</html>