<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Resena</h1>
    <form action="/misResenas/modificarResena" method="POST">
        <input type="hidden" name="idResena" value="<%=resena.id%>">
        <input type="text" name="textoResena" value="<%=resena.textoResena%>">
        <input type="text" name="puntaje" value="<%=resena.puntaje%>">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>