<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regitracion</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="contenido-bloqueado">
        <p>Acceso denegado! Falta completar algun area!</p>
    </div>
    <div class="contenedor-formulario">
      <form id="frmRegistracion" class="box form-inline my-2 my-lg-0" action="/usuarios" method="post">
        <h1>Resgistrarse</h1>
        <input class="form-control mr-sm-2" type="text" id="txtNombre" placeholder="Nombre" name="nombreUsuario">
        <input type="email" id="txtEmail" placeholder="Email" name="emailUsuario">
        <input type="password" id="txtPassword" placeholder="Contraseña" name="passwordUsuario">
        <input type="text" id="txtFechaNacimiento" placeholder="Fecha de Nacimiento (dd/mm/yyyy)" name="fechaDeNacimientoUsuario">
        <input type="submit" placeholder="Enviar">
      </form>
    </div>
   


  </body>
</html> 


