<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/bootstrapnuevo.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/popular">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upcoming">Upcoming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/actors">Popular Actors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/generos">Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favoritos">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" href="/registracion">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" href="/buscadorUsuarios">User Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" href="/misResenas">Mis Reseñas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logeado"></a>
          </li>
    
          <li class="li">
            <form class="buscador form-inline my-2 my-lg-0 navbar-form  " action="/buscador" method="get">
              <input class=" form-control mr-sm-2" type="search" name="buscador" placeholder="Type to search">
              <button class=" button btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              <a class="searchbtn"href="#"></a>
              <i class="fas fa-search"></i>
            </form>
          </li>
        </ul>
        <!-- <ul>
        </ul> -->
    
    
    
    
    
      </div>
    </nav>
    
    
    </div>
    <footer class="footer">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"><img src="/images/download.png" alt="logo" class="logo" style  ></th>
              <th scope="col">Federico Davola</th>
              <th scope="col">Nicolas Yahni</th>
              <th scope="col">Felix Galperin</th>
            </tr>
          </thead>
      
      </footer>
      
</body>
</html>