<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>estamos en los detalles de la serie</h1>
    <h2>reviews</h2>
    <% if (reviews.length > 0) { %>
        <% for(let i=0; i < reviews.length; i++) { %>
        <small><%= reviews[i].User %></small>
        <h4> <%= reviews[i].text %></h4>
        <hr>
        <% } %>
        <% } else { %>
            <p>No hemos encontrado reseñas para esta serie</p>
            <% } %>
</body>
</html>